body{
    background: white;
}

.navbar-light .navbar-nav .nav-link {
    color: lightgray;
}

.navbar-light .navbar-nav .nav-link.active {
    color: lightgray;
}

.navbar-light .navbar-brand {
    color: lightgray;
}

.contactClass{
    background: lightgray;
    margin: 15px 250px 15px 250px;
    padding: 20px;
    border-radius: 7px;
}

.classTagline {
    background: url("../img/bg.jpg") no-repeat center top;
    background-size: cover;
    height: 100vh;
    display: flex;
}

.mainTitle{
    background: white;
    height: 150px;
    margin-top: 75px;
}

.mainTitle h1{
    font-size: 100px;
}

.secondTitle{
    background: white;
    height: 100px;
    margin-top: 20px;
}

.secondTitle h2{
    font-size: 60px;
}

.firstHeadingClass,
.servicesClass,
.portfolioClass,
.contactClassSection {
    margin: 50px 0px 50px 0px;
}
