<!-- your html code here
<div class = container-fluid>
<div class="card ">
			<div class="row">
				<div class="col-sm-12 col-md-8">
					<div class="card-body">
						<h1 class="card-title">This first heading<span class="text-secondary rounded">Will catch your eye</span></h1>
						<p class="card-text">
							Tis simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text
							ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has
							survived not only five centu.
						</p>
					</div>
				</div>
				<div class="col-sm-12 col-md-4">
				  <img src="./assets/img/1.jpg" alt="First Heading" width="300px">
				</div>
			</div>
        </div>
</div>
 -->

<div class="container-fluid">
    <hr>

    <div class="row">
        <div class="col-sm-12 col-md-8">
            <h2>This first heading <span class="text-secondary">Will catch your eye</span></h2>

            <p>
                Tis simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
                standard dummy text
                ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type
                specimen book. It has
                survived not only five centu.
            </p>
        </div>
        <div class="col-sm-12 col-md-4">
             <img class="rounded-circle" src="./assets/img/1.jpg" alt="First Heading" width="300px">
        </div>
    </div>
</div>