<!-- your html code here -->
<div class = container-fluid>
<div class="card ">
			<div class="row">
				<div class="col-6">
					<div class="card-body">
						<h1 class="card-title">This first heading Will catch your eye</h1>
						<p class="card-text">
							Tis simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text
							ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has
							survived not only five centu.
						</p>
					</div>
				</div>
				<div class="col-6">
					<img src="../assets/img/1.jpg" class="rounded" alt="">
				</div>
			</div>
        </div>
</div>
 