<div class="container-fluid mt-5">
    <hr>
    <div class="row firstHeadingClass">
        <div class="col-sm-12 col-md-8">
            <h2>This first heading <span class="text-secondary">Will catch your eye</span></h2>

            <p>
                Tis simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived
                not only five centu.
            </p>
        </div>
        <div class="col-sm-12 col-md-4">
            <img class="rounded-circle" src="./assets/img/1.jpg" alt="First Heading" width="300px">
        </div>
    </div>
</div>