<!-- your html code here -->

<div class="container-fluid">
    <hr>
    
    <div class="row portfolioClass">
        <div class="col-sm-12">
            <h2>Portfolio</h2>

            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia neque reprehenderit ut aut, eos aliquid est. Dicta, numquam quaerat commodi nihil, provident distinctio optio, quasi neque veritatis vitae repellendus atque!</p>
        </div>

        <div class="col-sm-12 col-md-4">
            <div class="card" style="width: 18rem;">
                <img src="./assets/img/big-project-image.png" class="card-img-top" alt="Project Name 1" width="250px" height="200px">
                <div class="card-body">
                    <h6 class="card-title text-primary">Project Name 1</h6>
                    <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum, optio!</p>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-4">
            <div class="card" style="width: 18rem;">
                <img src="./assets/img/big-project-image.png" class="card-img-top" alt="Project Name 2" width="250px" height="200px">
                <div class="card-body">
                    <h5 class="card-title text-primary">Project Name 2</h5>
                    <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum, optio!</p>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-4">
            <div class="card" style="width: 18rem;">
                <img src="./assets/img/big-project-image.png" class="card-img-top" alt="Project Name 3" width="250px" height="200px">
                <div class="card-body">
                    <h5 class="card-title text-primary">Project Name 3</h5>
                    <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum, optio!</p>
                </div>
            </div>
        </div>
    </div>
</div>