<!-- your html code here -->
<div class="container-fluid">
    <hr>

    <div class="row">
        <div class="col-sm-12 col-md-4">
            <img class="rounded-circle" src="./assets/img/2.jpg" alt="First Heading" width="300px">
        </div>
        <div class="col-sm-12 col-md-8">
            <h1>The Second Heading <span class="text-muted">Is Pretty Cool Too.</span></h1>
            <p>Donec ullamcoper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper.
                Preaesent commodo ursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursos
                commodo.</p>
        </div>
    </div>
</div>